@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<div class="page">
    <nav id="sidebar" class="sidebar @(collapseNavMenu ? "collapsed" : "")" role="navigation">
        <NavMenu CollapseNavMenu="@collapseNavMenu" />
    </nav>

    <main class="main-content" role="main">
        <header class="top-row">
            <button @onclick="ToggleNavMenu" class="nav-toggle-button" aria-label="Toggle navigation menu"></button>
            <button @onclick="Settings" class="button-icon" aria-label="Settings"></button>
            <button @onclick="Logout" class="button-out" aria-label="Logout"></button>
        </header>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseNavMenu = true;

    protected override async Task OnInitializedAsync()
    {
        collapseNavMenu = await localStorage.GetItemAsync<bool>("collapseNavMenu");
    }

    private async Task ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        await localStorage.SetItemAsync("collapseNavMenu", collapseNavMenu);
    }

    private void Settings()
    {
        
    }

    private async Task Logout()
    {
        await localStorage.RemoveItemAsync("userToken");
        NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}
