@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<BlazoredModal />

<div class="page">
    <nav id="sidebar" class="sidebar @(collapseNavMenu ? "collapsed" : "")" role="navigation">
        <NavMenu CollapseNavMenu="@collapseNavMenu" />
    </nav>

    <main class="main-content" role="main">
        <header class="top-row">
            <button @onclick="ToggleNavMenu" class="nav-toggle-button" aria-label="Toggle navigation menu">
                <i class="fas fa-bars"></i> 
            </button>
            <div class="spacer"></div> 
            <button @onclick="Settings" class="button-icon" aria-label="Settings">
                <i class="fas fa-cog"></i> 
            </button>
            <button @onclick="Logout" class="button-out" aria-label="Logout">
                <i class="fas fa-sign-out-alt"></i> >
            </button>
        </header>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseNavMenu = true;

    protected override async Task OnInitializedAsync()
    {
        collapseNavMenu = await localStorage.GetItemAsync<bool>("collapseNavMenu");
    }

    private async Task ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        await localStorage.SetItemAsync("collapseNavMenu", collapseNavMenu);
    }

    private void Settings()
    {
        
    }

    private async Task Logout()
    {
    }
}
