@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar @(collapseNavMenu ? "collapsed" : "")">
        <NavMenu CollapseNavMenu="@collapseNavMenu" />
    </div>

    <main class="main-content">
        <div class="top-row">
            <button @onclick="ToggleNavMenu" class="nav-toggle-button"></button>
            <button @onclick="Settings" class="button-icon"></button>
            <button @onclick="Logout" class="button-out"></button>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Settings()
    {
        // Implement settings logic or navigation here
    }

    private void Logout()
    {
        // Implement logout logic here
    }
}
