.nav-menu {
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

    .nav-menu.collapsed {
        width: 61px;
        

    }

.user-profile {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    flex-direction: row;
    width: 101%;
}

.profile-icon {
    width: 50px;
    height: 50px;
    flex-grow: 0;
}

.nav-items {
    list-style: none;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

    .nav-items .nav-item:first-child {
        margin-top: 10px;
    }

.nav-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: white;
    justify-content: start;
    width: 100%;
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.nav-menu.collapsed .nav-item {
    justify-content: start;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    padding: 10px 0;
}

.nav-menu.collapsed .nav-icon {
    margin-right: 0;
}

.nav-menu.collapsed .nav-item .nav-icon {
    margin-top: 0px;
}

.nav-menu.collapsed .nav-text,
.nav-menu.collapsed .profile-name {
    display: none;
}

.nav-items.bottom-items {
    margin-top: auto;
    width: 100%;
}

.nav-menu.collapsed .nav-item .project-icon {
    margin-top: -480%;
}

user-profile + .nav-items .nav-item:first-child {
    margin-top: -80%;
}

.nav-text {
    flex-grow: 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: white;
}

.profile-name {
    width: 290px;
    height: 30px;
    flex-grow: 10;
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;
}

.nav-dropdown {
    display: none;
    list-style: none;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

    .nav-dropdown.collapsed {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }

.nav-dropdown-item {
    width: 330px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 175px;
    margin: 20px 10px 10px 20px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.nav-dropdown-item.collapsed {
    display: none;
}
