@page "/"

<div class="login-container">
    <div class="login-logo">
        <!-- Upewnij się, że ścieżka do logo jest poprawna -->
        <img src="path_to_your_logo.png" alt="Logo" style="margin: auto; display: block;" />
    </div>
    <div class="login-form">
        <h1>Witaj!</h1>
        <p>Zaloguj się w D.W.C</p>
        <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
            <div class="form-groupe">
                <label for="email"></label>
                <InputText id="email" @bind-Value="loginModel.Email" class="form-control" placeholder="email" />
            </div>
            <div class="form-groupa">
                <label for="password"></label>
                <InputText id="password" @bind-Value="loginModel.Password" type="password" class="form-controle" placeholder="hasło" />
            </div>
            <div class="form-groupz">
                <button type="submit" class="btn-login">Zaloguj się</button>
            </div>
        </EditForm>

        <div class="external-logins">
            <button class="btn-google">
                <img src="path_to_google_icon.png" alt="Google" class="icon" /> <!-- Dodaj ścieżkę do ikony Google -->
                <span class="btn-text">Zaloguj się przez Google</span>
            </button>
            <button class="btn-microsoft">
                <img src="path_to_microsoft_icon.png" alt="Microsoft" class="icon" /> <!-- Dodaj ścieżkę do ikony Microsoft -->
                <span class="btn-text">Zaloguj się przez Microsoft</span>
            </button>
        </div>
        <div class="login-footer" style="position: absolute; top: 10px; right: 10px;">
            <a href="#">Nie pamiętasz hasła?</a>
            <a href="#">Stwórz konto</a>
        </div>
    </div>
</div>

<style>
    .login-container{
        
        height: 100%;
        width: 100%;
        justify-content: center; /* Wycentruje kontenery */
        align-items: center;
        display: flex;
    }

    .login-form{
        top: 25%;
        position: fixed;
        right: 30%;
        flex-grow: 0;
        left: 47%;
        background-color: #fff;
        width: 400px;
        height: 400px;
        margin-left: 0%;
    }

    .login-logo {
        object-fit: contain;
        position: fixed;
        height: 200%;
        width: 80%;
        background-color: #8cabff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   

    .btn-google{
        width: 400px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin: 30px 270px 30px -10px;
        padding: 0 42px 0 20px;
        border-radius: 5px;
        border: solid 1px #9b9b9b;
        background-color: #fff;
    }
    

    .btn-microsoft{
        width: 400px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin: 30px 270px 430px -10px;
        padding: 0 42px 0 20px;
        border-radius: 5px;
        border: solid 1px #9b9b9b;
        background-color: #fff;
    }

    .btn-login{
        width: 400px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin: 50px 270px 30px -10px;
        padding: 0 42px 0 20px;
        border-radius: 5px;
        border: solid 1px #9b9b9b;
        background-color: #fff;
    }
    .form-control{
        width: 400px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin: 0px 270px 0px -10px;
        padding: 8px 68px 8px 20px;
        border-radius: 5px;
        border: solid 1px #9b9b9b;
        background-color: #fff;
    }

    .form-controle{
        width: 400px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin: 0px 270px 60px -10px;
        padding: 8px 68px 8px 20px;
        border-radius: 5px;
        border: solid 1px #9b9b9b;
        background-color: #fff;
    }

    .icon {
        width: 24px; 
        height: 24px; 
    }
    .btn-text {
        font-weight: bold; 
        color: #5f6368; 
        text-align: left;
        flex-grow: 1;
    }
</style>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleValidSubmit()
    {
        // Logika obsługi formularza
    }

    public class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}
